%li.mypage__info__list
  = link_to "#", class: "mypage__info__list__item" do
    .mypage__icon
      = image_tag "//static.mercdn.net/images/mercari_profile.png"
    .mypage__body
      .mypage__body__text
        3日後、P1,000還元お得チケットの有効期限が切れます！タップして詳細を確認しましょう。
      .myspace__body__time
        %i.far.fa-clock
          %span 3時間前
%li.mypage__info__list
  %a.mypage__info__list__item{:href => ""}
    .mypage__icon
      = image_tag "//static.mercdn.net/images/mercari_profile.png"
    .mypage__body
      .mypage__body__text
        事務局から個別メッセージ「《大感謝祭のお得チケットとあわせて使おう》あなただけに特別にP300を進呈しました」
      .myspace__body__time
        %i.far.fa-clock
          %span 3時間前
%li.mypage__info__list
  %mypage__info__list__item
  = link_to "#", class: "mypage__info__list__item" do
    .mypage__icon
      = image_tag "//static.mercdn.net/images/mercari_profile.png"
    .mypage__body
      .mypage__body__text
        《この通知を受け取ったあなた限定》「1,000ポイントバック」のお得チケットをプレゼントしました！
      .myspace__body__time
        %i.far.fa-clock
          %span 3時間前
%li.mypage__info__list
  %mypage__info__list__item
  = link_to "#", class: "mypage__info__list__item" do
    .mypage__icon
      = image_tag "//static.mercdn.net/images/mercari_profile.png"
    .mypage__body
      .mypage__body__text
        《いま出品するとおトク》抽選で「取引手数料」を"全額"ポイントバックのチャンス
      .myspace__body__time
        %i.far.fa-clock
          %span 3時間前