.side
  .side__nav
    %ul.side__nav__inner
      %li.side__nav__inner__first
        = link_to "#", class: "side__list" do
          マイページ
          %i.fas.fa-angle-right.next
      %li.side__nav__inner__other
        = link_to "#", class: "side__list" do
          お知らせ
          %i.fas.fa-angle-right.next
      %li.side__nav__inner__other
        = link_to "#", class: "side__list" do
          やることリスト
          %i.fas.fa-angle-right.next
      %li.side__nav__inner__other
        = link_to "#", class: "side__list" do
          いいね！一覧
          %i.fas.fa-angle-right.next
      %li.side__nav__inner__other
        = link_to "#", class: "side__list" do
          出品する
          %i.fas.fa-angle-right.next
      %li.side__nav__inner__other
        = link_to "#", class: "side__list" do
          出品した商品-出品中
          %i.fas.fa-angle-right.next
      %li.side__nav__inner__other
        = link_to "#", class: "side__list" do
          出品した商品-取引中
          %i.fas.fa-angle-right.next
      %li.side__nav__inner__other
        = link_to "#", class: "side__list" do
          出品した商品-売却済み
          %i.fas.fa-angle-right.next
      %li.side__nav__inner__other
        = link_to "#", class: "side__list" do
          購入した商品-取引中
          %i.fas.fa-angle-right.next
      %li.side__nav__inner__other
        = link_to "#", class: "side__list" do
          購入した商品-過去の取引
          %i.fas.fa-angle-right.next
      %li.side__nav__inner__other
        = link_to "#", class: "side__list" do
          ニュース一覧
          %i.fas.fa-angle-right.next
      %li.side__nav__inner__other
        = link_to "#", class: "side__list" do
          評価一覧
          %i.fas.fa-angle-right.next
      %li.side__nav__inner__other
        = link_to "#", class: "side__list" do
          ガイド
          %i.fas.fa-angle-right.next
      %li.side__nav__inner__other
        = link_to "#", class: "side__list" do
          お問い合わせ
          %i.fas.fa-angle-right.next
    %h3.side__nav__inner__title メルペイ
    %ul.side__nav__inner
      %li.side__nav__inner__first
        = link_to "#", class: "side__list" do
          売上・振込申請
          %i.fas.fa-angle-right.next
      %li.side__nav__inner__other
        = link_to "#", class: "side__list" do
          ポイント
          %i.fas.fa-angle-right.next
    %h3.side__nav__inner__title 設定
    %ul.side__nav__inner
      %li.side__nav__inner__first
        = link_to "#", class: "side__list" do
          プロフィール
          %i.fas.fa-angle-right.next
      %li.side__nav__inner__other
        = link_to "#", class: "side__list" do
          発送元・お届け先住所変更
          %i.fas.fa-angle-right.next
      %li.side__nav__inner__other
        = link_to "#", class: "side__list" do
          支払い方法
          %i.fas.fa-angle-right.next
      %li.side__nav__inner__other
        = link_to "#", class: "side__list" do
          メール/パスワード
          %i.fas.fa-angle-right.next
      %li.side__nav__inner__other
        = link_to "#", class: "side__list" do
          本人情報
          %i.fas.fa-angle-right.next
      %li.side__nav__inner__other
        = link_to "#", class: "side__list" do
          電話番号の確認
          %i.fas.fa-angle-right.next
      %li.side__nav__inner__other
        = link_to "#", class: "side__list" do
          ログアウト
          %i.fas.fa-angle-right.next
