= render partial: "layouts/header"
.mypage__wrapper.clearfix
  .render-side-bar
    = render partial: "side"
    = render partial: "right-mypage"
= render partial: "layouts/banner"
= render partial: "layouts/footer"
