= render partial: "layouts/header"
= render partial: "layouts/button"
.top
  .top__slide
  .top__pickup
    %h2.top__pickup__title ピックアップカテゴリー
    .top__item
      %h3.top__item__title
        = link_to "レディース 新着アイテム", "#", class: "top__item__title__link"
      .top__item__contents.clearfix
        = render partial: 'top', collection: @lady_items
      .top__item__all
        = link_to "すべての商品を見る", "#"
    .top__item
      %h3.top__item__title
        = link_to "メンズ 新着アイテム", "#", class: "top__item__title__link"
      .top__item__contents.clearfix
        = render partial: 'top', collection: @man_items
      .top__item__all
        = link_to "すべての商品を見る", "#"
    .top__item
      %h3.top__item__title
        = link_to "ベビー・キッズ 新着アイテム", "#", class: "top__item__title__link"
      .top__item__contents.clearfix
        = render partial: 'top', collection: @kids_items
      .top__item__all
        = link_to "すべての商品を見る", "#"
    .top__item
      %h3.top__item__title
        = link_to "コスメ・香水・美容 新着アイテム", "#", class: "top__item__title__link"
      .top__item__contents.clearfix
        = render partial: 'top', collection: @beauty_items
      .top__item__all
        = link_to "すべての商品を見る", "#"
  .top__pickup
    %h2.top__pickup__title ピックアップブランド
    .top__item
      %h3.top__item__title
        = link_to "シャネル 新着アイテム", "#", class: "top__item__title__link"
      .top__item__contents.clearfix
        = render partial: 'top', collection: @chanel
      .top__item__all
        = link_to "すべての商品を見る", "#"
    .top__item
      %h3.top__item__title
        = link_to "ルイ ヴィトン 新着アイテム", "#", class: "top__item__title__link"
      .top__item__contents.clearfix
        = render partial: 'top', collection: @vuitton
      .top__item__all
        = link_to "すべての商品を見る", "#"
    .top__item
      %h3.top__item__title
        = link_to "シュプリーム 新着アイテム", "#", class: "top__item__title__link"
      .top__item__contents.clearfix
        = render partial: 'top', collection: @supreme
      .top__item__all
        = link_to "すべての商品を見る", "#"
    .top__item
      %h3.top__item__title
        = link_to "ナイキ 新着アイテム", "#", class: "top__item__title__link"
      .top__item__contents.clearfix
        = render partial: 'top', collection: @nike
      .top__item__all
        = link_to "すべての商品を見る", "#"
= render partial: "layouts/banner"
= render partial: "layouts/footer"
