= render partial: "layouts/header"
= render partial: "layouts/button"
.wrapper
  .itembox__container
    %h1= @item.name
    .itembox__container__detail--main.clearfix
      .itembox__container__photobox
        .itembox__container__photobox__img
          = image_tag("https://static.mercdn.net/item/detail/orig/photos/m30971704799_1.jpg?1560139326", class:"itembox__container__photobox__img__photo")
        .itembox__small--photobox
      %table.itembox__container__detail__table
        %tbody
          %tr
            %th 出品者
            %td
              = link_to "#{@user.nickname}" #"/user/#{current_user.id}"
              %div
                .itembox__container__detail__table__ratings
                  %i.far.fa-smile
                  %span #{@good.count}
                .itembox__container__detail__table__ratings
                  %i.far.fa-meh
                  %span #{@normal.count}
                .itembox__container__detail__table__ratings
                  %i.far.fa-sad-tear
                  %span #{@bad.count}
          %tr
            %th カテゴリー
            %td
              = link_to "#" do
                %div= @category.parent.parent.name
              = link_to "#" do
                .itembox__detail--category
                  %i.fas.fa-chevron-right
                  = @category.parent.name
              = link_to "#" do
                .itembox__detail--category
                  %i.fas.fa-chevron-right
                    = @category.name
          %tr
            %th ブランド
            %td 
              = link_to "#{@brand.name}", "#"
          %tr
            %th 商品の状態
            %td= "#{@item.condition}"
          %tr
            %th 配送料の負担
            %td= "#{@item.shipping_cost}"
          %tr
            %th 配送の方法
            %td= "#{@item.shipping_method}"
          %tr
            %th 配送元地域
            %td
              =link_to "#{@item.shipping_source}", "#"
          %tr
            %th 発送日の目安
            %td= "#{@item.delivery_date}"
    .itembox__container__pricebox
      %span.itembox__container__pricebox__price
        = converting(@item.price)
      %span.itembox__container__pricebox__tax= "(税抜)"
      %span.itembox__container__pricebox__fee= "(送料込)"
    = link_to "#" do
      %button.itembox__container__buybtn 購入画面に進む
    .itembox__container__discription
      %p.itembox__container__discription__exprain= "#{@item.detail}"
    .itembox__container__btnbox.clearfix
      .itembox__container__btnbox__left
        %button.itembox__container__btnbox__left__likebtn
          %i.far.fa-heart
          %span.itembox__container__btnbox__left__likebtn__like いいね!
          %span.itembox__container__btnbox__left__likebtn__likenum 5
        = link_to "#" do
          %button.itembox__container__btnbox__left__reportbtn.clearfix
            %i.far.fa-flag
            %span.itembox__container__btnbox__left__reportbtn__report 不適切な商品の警告
      .itembox__container__btnbox__right
        = link_to "#" do
          %i.fas.fa-lock
        = link_to "https://www.mercari.com/jp/safe/description/" do
          %span.itembox__container__btnbox__right__policy あんしん・あんぜんへの取り組み
  .itembox__message
    .itembox__message__content
      %form.itembox__message__content__form
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea.itembox__message__content__form__box{name: "body", type: "text", value: ""}
        %button.itembox__message__content__form__submitbtn{type: "submit"}
          %span.itembox__message__content__form__submitbtn__submit コメントする
  %div
    %ul.itembox__to__nextitembox.clearfix
      %li.itembox__to__nextitembox__previous
        - if @item.previous.present?
          = link_to "@item.previous" do
            %i.fas.fa-chevron-left
              = "#{@item.previous.name}"
      %li.itembox__to__nextitembox__next
        - if @item.next.present?
          = link_to "@item.next" do
            = "#{@item.next.name}"
            %i.fas.fa-chevron-right
  .itembox__socialmediabox
    %ul.itembox__socialmediabox__sns
      %li
        = link_to "http://www.facebook.com/share.php?u=httpsitem.mercari.com" do
          %i.fab.fa-facebook-square.fb
      %li
        = link_to "http://twitter.com/share?count=horizontal&original_referer=httpsitem.mercari.comtext=item.mercari.commercari_jp" do
          %i.fab.fa-twitter-square.twitter
      %li
        = link_to "https://social-plugins.line.me/lineit/share?url=" do
          %i.fab.fa-line.line
      %li
        = link_to "https://www.pinterest.jp/pin/create/button/?static.mercdn.netdescription=" do
          %i.fab.fa-pinterest-square.pin
  .itembox__user__profile
    .itembox__user__profile__mainbox
      %h2=link_to "#{@user.nickname}さんのその他の出品", "#"
      .itembox__user__goodsbox.clearfix
        - @user.items.limit(6).each do |item|
          .itembox__user__goodsbox__item
            %figure.itembox__user__goodsbox__itemimg
              = image_tag(item.images.first.image, class:"goods__img")
            .itembox__user__goodsbox__itembody
              %h3.itembox__user__goodsbox__itembody__name= "#{item.name}"
              .itembox__user__goodsbox__itembody__num
                .goodsbox__price= converting(item.price)
                %p.goodsbox__tax (税込)
      %h2=link_to "#{@category.name}", "#"
      .itembox__user--profile--goodsbox.clearfix
        - @category.items.limit(6).each do |item|
          .itembox__user__goodsbox__item
            %figure.itembox__user__goodsbox__itemimg
              =image_tag(item.images.first.image, class:"goods__img")
            .itembox__user__goodsbox__itembody
              %h3.itembox__user__goodsbox__itembody__name= "#{item.name}"
              .itembox__user__goodsbox__itembody__num
                .goodsbox__price= converting(item.price)
                %p.goodsbox__tax (税込)
= render partial: "layouts/banner"
= render partial: "layouts/footer"